<h1><%= @places.inspect %></h1>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= place.name %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />
  </div>
<% end %>

<h1>Tasks</h1>
<%= form_tag(tasks_path, method: :get) do %>
   <%= text_field_tag :term, params[:term] %>
   <%= submit_tag 'Search', name: nil %>
<% end %>
<table>
  <thead>
    <tr><th></th></tr>
  </thead>
  <tbody>
    <tr>
      <% for task in @tasks %>
        <div class='task'>
            <strong> <%= task.name %> </strong>
        </div>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Show', task %>
      <% end %>
     </tr>       
  </tbody>
</table>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @tasks %>
  </div>
  <%= will_paginate @tasks, :container => false %>
</div>  

